<h2><%= t ".enter_entry" %></h2>
<% if @ad.errors and @ad.errors.any? %>
  <div id="error_explanation">
    <h5>Oops:</h5>
    <ul>
    <% @ad.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @ad do |f| %>
<div class="row">
	<div class="span6">
  <%= f.label :ad_category %>
  <%= f.select :ad_category_id, AdCategory.all.map {|c| [ c.breadcrumb, c.id ] }.sort { |a,b| a.first <=> b.first }, { :include_blank => false } %>
  <%= f.label :title %> <div class="control"><%= f.text_field :title, required: "required" %></div>
 </div><div class="span6">
  <%= f.label :name %> <%= f.text_field :name, required: "required" %>

  <%= f.label :email %> <%= f.email_field :email, required: "required" %> 

  <label for="ad_publish_email" class="checkbox"><i class="icon-eye-open"></i> <%= t(".publish_email") %>
	<%= f.check_box :publish_email %>
  </label>
</div>
</div>
<div class="row">
  <div class="span6">
    <%= f.label :price %> <%= f.text_field :price %>
  </div>
</div>  
<div class="row">
  <div class="span12">
<%= f.label :text %>
  <%= f.text_area :text, rows: 3, class: "autogrow", required: "required" %>
   </div>
</div>
  <%= f.label :photo %>
  <%= f.file_field :photo %>
  
  <br>
  <%= f.submit t(".save_button"), :class => "btn btn-primary" %>
<% end %>

<% content_for :javascript do %>
	<script>
		$(".autogrow").autogrow();
	</script>
<% end %>