<%= form_tag ads_path, method: :get, id: "ads_search_form", class: "form-inline" %>
 <div class="controls"><div class="input-append">
	<input type="search" class="input-medium search-query" name="q" autocomplete="off" id="ads_search_field" placeholder="<%= t 'courses.index.search' %>..." value="<%= params[:q]||"" %>" ><input type="submit" value="<%= t 'courses.index.search' %>!" class="btn">
	<% if params[:category] %>
		<%= hidden_field_tag "category", params[:category] %>
	<% end %>
 </div></div>
</form>