<% if @ad %>
<%  title t("layouts.application.ads") + ": " +  @ad.name%>
<h1><%= link_to '<i class="icon-arrow-left"></i>'.html_safe, ads_path, id: "back-button"  %> <%= t ".title"%></h1>
<p><%= t ".introtext"%></p>
<%= render "form" %>
<% else %>
<%  title t("layouts.application.ads") + ": " + t(".ad_not_found") %>
<h1><%= link_to '<i class="icon-arrow-left"></i>'.html_safe, ads_path, id: "back-button"  %> <%= t ".title"%></h1>
<p><%= t ".ad_not_found"%></p>
<% end %>