<% title t(".ads_headline") %>
<%= content_for "page-attributes" do %>id="adsPage"<% end %>
<% content_for :header do %>
<h1><%= t ".ads_headline" %></h1>
<% end %>

<ul>
	<% @categories.each do |cat| %>
		<li><%= link_to cat.name, ads_path(category: cat.id) %> (<%= cat.all_ads.count %>)</li>
	<% end %>
</ul>

<h2>Ads:</h2>

<% @ads.each do |ad| %>
	<h4><%= link_to ad.name, ad %></h4>
	<p><%= ad.text %></p>
<% end %>