<% title t(".ads_headline", default: "Ads") %>
	<%= content_for "page-attributes" do %>id="adsPage"<% end %>
<% content_for :header do %>
	<h1><%= t(".ads_headline") %>
	</h1>
	
	<% if @category %>
		<ul class="breadcrumb">
			<li><%= link_to t(".ads_headline"), ads_path %> <span class="divider">/</span></li>
			<% @category.parents.each do |cat| %>
				<% if cat == @category %>
					<li><%= cat.name %></li>
				<% else %>
					<li><%= link_to cat.name, ads_path(category: cat.id) %> <span class="divider">/</span></li>
				<% end %>
			<% end %>
		</ul>
	<% end %>	
	
<% end %>
<hr>
<div class="row">
	<div class="span6">
		<%= render "search_field" %>
	</div>
	<div class="span6">
		<%= link_to ('<button class="btn btn-success btn-primary">' + t(".create") + '</button>').html_safe, new_ad_path %>
	</div>
</div>
<ul class="inline">
	<% @categories.each do |cat| %>
		<li><%= link_to cat.name, ads_path(category: cat.id) %> (<%= cat.all_ads.count %>)</li>
	<% end %>
</ul>
<% if @ads.count == 0 %>
	<p class="well center"><%= t ".no_entries" %></p>
<% end %>
<div id="posts">

</div>

<div style="display:none;" id="post_list">
<% @ads.each do |ad| %>
 <div class="single_post well">
	<div style="text-align: center">
	  <% if ad.square_photo_url %>
		<%= link_to image_tag(ad.square_photo_url, class: "polaroid", size: "100x100"), ad %>
	  <% end %>
	<h4><%= link_to ad.title, ad %></h4>
    <p class="post_time_to_timeago"><%= ad.created_at %></p>
	<% unless ad.price.blank? %>
    	<p><%= t ".price" %> <%= ad.price %></p>
	<% end %>
	</div>
	<p class="expandable"><%= ad.text %></p>
 </div>
<% end %>
</div>

<% content_for :javascript do %>
<script>
	$(".post_time_to_timeago").each(function() {
		$this = $(this)
	    $this.text($.timeago($this.text()))
	});
	$("#posts").append(window.iUPB.Ads.generateGrid($(".single_post")));
	$(".expandable").expander({
		expandText: '<%= t "forty_years.index.read_more" %>',
		userCollapseText: '<%= t "forty_years.index.read_less" %>',
		expandPrefix: '&hellip; ',
		expandEffect: 'fadeIn',
		expandSpeed: 250,
		collapseEffect: 'fadeOut',
		collapseSpeed: 200
	});
</script>
<% end %>