<% title t(".ads_headline", default: "Ads") %>
	<%= content_for "page-attributes" do %>id="adsPage"<% end %>
<% content_for :header do %>
	<h1><%= link_to t(".ads_headline"), ads_path %>
	<% if @category %>
		 (<%= @category.breadcrumb %>)
	<% end %>	
	</h1>
<% end %>
<br>
<%= render "search_field" %>
<ul>
	<% @categories.each do |cat| %>
		<li><%= link_to cat.name, ads_path(category: cat.id) %> (<%= cat.all_ads.count %>)</li>
	<% end %>
</ul>



<h2>Ads:</h2>
<div id="posts">

</div>

<div style="display:none;" id="post_list">
<% @ads.each do |ad| %>
 <div class="single_post well">
	<div style="text-align: center">
	  <% if ad.photo? %>
		<%= link_to image_tag(ad.photo.url(:square), class: "polaroid", size: "100x100"), ad %>
	  <% end %>
	<h4><%= link_to ad.title, ad %></h4>
	</div>
	<p class="expandable"><%= ad.text %></p>
 </div>
<% end %>
</div>

<% content_for :javascript do %>
<script>
	$("#posts").append(window.iUPB.Ads.generateGrid($(".single_post")));
	$(".expandable").expander({
		expandText: '⬊',
		userCollapseText: '⬉',
		expandPrefix: '&hellip; ',
		expandEffect: 'fadeIn',
		expandSpeed: 250,
		collapseEffect: 'fadeOut',
		collapseSpeed: 200
	});
</script>
<% end %>