<% title t(".ads_headline", default: "Ads") %>
	<%= content_for "page-attributes" do %>id="adsPage"<% end %>
<% content_for :header do %>
	<h1><%= t ".ads_headline" %></h1>
<% end %>

<ul>
	<% @categories.each do |cat| %>
		<li><%= link_to cat.name, ads_path(category: cat.id) %> (<%= cat.all_ads.count %>)</li>
	<% end %>
</ul>



<h2>Ads:</h2>
<div id="posts">

</div>

<div style="display:none;" id="post_list">
<% @ads.each do |ad| %>
 <div class="single_post well">
	<h4><%= link_to ad.name, ad %></h4>
	<p><%= ad.text %></p>
 </div>
<% end %>
</div>

<% content_for :javascript do %>
<script>
	$("#posts").append(window.iUPB.Ads.generateGrid($(".single_post")));
</script>
<% end %>