<%  title t("layouts.application.ads") + ": " +  @ad.title %>
<h1><%= link_to '<i class="icon-arrow-left"></i>'.html_safe, ads_path, id: "back-button"  %> <%= @ad.title %></h1>
<% if @ad.photo? %>
	<%= image_tag @ad.photo.url(:medium), class: "polaroid" %>
<% end %>

<p class="well"><%= @ad.text %></p>
<% unless @ad.price.blank? %>
   	<p><%= t ".price" %> <%= @ad.price %></p>
<% end %>

<div class="row">
  <div class="span6">
	<p><small>
		<%= t(".viewed_count", count: @ad.views) %>.
	</small>
	</p>
  </div>
  <div class="span6">
	<p><small><span class="post_time_to_timeago" style="display:none"><%= @ad.created_at %></span> <%= t(".created") %> <%= t("by") %> <strong><%= @ad.name %>  </strong> 
	<% if @ad.publish_email %>
		 (<%= mail_to @ad.email, @ad.email, encode: :javascript, subject: "#{@ad.title.truncate(30)} auf iUPB" %>)
	<% end %>
	</small></p>
  </div>
</div>

<div class="row">
  <div class="span6">
	<%= fb_like_button %>
  </div>
  <div class="span6">
	<p>
		<%= link_to "<i class='icon-exclamation-sign'></i> ".html_safe + t(".report"), report_ad_path(@ad), confirm: t(".report_sure") %>
	</p>
  </div>
</div>



<% content_for :javascript do %>
<script>
$(document).ready(function() {
	$(".post_time_to_timeago").each(function() {
		$this = $(this)
        $this.text($.timeago($this.text()))
		$this.show()
	});
});
</script>
<% end %>
