<%  title t("layouts.application.ads") + ": " +  @ad.title %>
<h1><%= link_to '<i class="icon-arrow-left"></i>'.html_safe, ads_path, id: "back-button"  %> <%= @ad.title %></h1>
<% if @ad.photo? %>
	<%= image_tag @ad.photo.url(:medium), class: "polaroid" %>
<% end %>
<p class="well"><%= @ad.text %></p>

<p><small><span class="post_time_to_timeago"><%= @ad.created_at %></span> <strong><%= t("by") %> <%= @ad.name %>  </strong> 
<% if @ad.publish_email %>
	 (<%= mail_to @ad.email, @ad.email, encode: :javascript, subject: "#{@ad.title.truncate(30)} auf iUPB" %>)
<% end %>
</small></p>

<%= link_to t(".report"), report_ad_path(@ad), confirm: t(".report_sure") %>

<% content_for :javascript do %>
<script>
$(document).ready(function() {
	$(".post_time_to_timeago").each(function() {
		$this = $(this)
        $this.text($.timeago($this.text()))
	});
});
</script>
<% end %>
