
<% content_for :header do %>
<h1><%= t ".current_wheater "%></h1>
<% end %>
<ul>
	<li><%= t ".temperature" %> <%= @weatherData['temp'] %></li>
	<li><%= t ".min" %>.  <%= t ".temperature" %> <%= @weatherData['tempmin'] %></li>
	<li><%= t ".max" %>. <%= t ".temperature" %> <%= @weatherData['tempmax'] %></li>
	<li><%= t ".sunrise" %> <%= @weatherData['sonnenaufgang'] %></li>
	<li><%= t ".sunset" %> <%= @weatherData['sonnenuntergang'] %></li>
</ul>
