<h1><%= t ".new_entry" %></h1>
<%= form_for @event, :url => { :action => "create" }, :html => {:class => "well"} do |f| %>
  <legend for="event_name">Name</legend> <%= f.text_field :name %><br>
<legend for="event_start_time">Events starts at...</legend>
<%= f.date_select :start_time %><br>
<%= f.time_select :start_time, :ignore_date => true %>

<legend for="event_end_time">Events ends at... <small>(optional)</small></legend>
  <%= f.date_select :end_time %><br>
  <%= f.time_select :end_time, :ignore_date => true %>
<br><br>
  <%= f.submit "Create" %>
<% end %>