<% content_for "page-attributes" do %>id="homePage"<% end %>
<div class="two-column dashboard-list">
	<div >
	<%= link_to '<i class="icons-restaurant round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.menu"), restaurants_path %>
	</div>
  	<div>
  	  	<%= link_to '<i class="icons-transportation round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.buses"), transportation_path %>
  	</div>
	<div>
	  <%= link_to '<i class="icons-paul round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.paul"), courses_path %>
	</div>
	<div>
	  <%= link_to '<i class="icons-party round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.party"), events_path %> 
  	</div>
	<div><%= link_to '<i class="icons-weather round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.weather"), weather_path %> 
	</div>
	<div>
	  <%= link_to '<i class="icons-twitter round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.twitter"), twitter_path %> 
	</div>
  	<div>
	  <%= link_to '<i class="icons-asta round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.asta"), asta_path %> 
  	</div>
  	<div>
	  	  <%= link_to '<i class="icons-timetable round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.timetable"), timetable_path %> 
	</div>
	<% unless Rails.env.production? %>
	<div>
	  	  <%= link_to '<i class="icons-ads round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.ads"), ads_path %> 
	</div>
	<% end %>
	<div>
	  	  <%= link_to '<i class="icons-pingo round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.pingo"), page_path(id: "pingo") %> 
	</div>
	
</div>
<% if ENV["ios_webapp_notice"] == "true" %>
	<% content_for :javascript do %>
	<script>
	if (window.navigator.userAgent.indexOf('iPhone') != -1 || window.navigator.userAgent.indexOf('iPad') != -1) { 
		if (window.navigator.standalone == false) {
			var addToHomeConfig = {
				returningVisitor: true
			};
			// load dynamically only for iPhones to reduce requests
			window.iUPB.loadjscssfile("/stylesheets/add2home.css", "css");
			window.iUPB.loadjscssfile("/scripts/add2home.js", "js");
		}
	}
	</script>
	<% end %>
<% end %>