<% content_for "page-attributes" do %>id="homePage"<% end %>
<div class="row-fluid">
    <div class="span6">
        <div class="row-fluid">
            <div class="span6 mobile-two">
              	<div class="tile">
              	    <h3><%= link_to t("layouts.application.buses"), transportation_path %></h3>
              	    <i class="icons-transportation"></i>
              	</div>
            </div>
            <div class="span6 mobile-two">
              	<div class="tile green">
              	  	<h3><%= link_to t("layouts.application.navigator"), page_path(id: "navigator") %></h3>
              	    <i class="icons-navigator"></i>
              	</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="tile white">
                    <h3><%= link_to t("layouts.application.menu"), restaurants_path %></h3>
                </div>
            </div>    
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div class="tile">
                    <h3><%= link_to t("layouts.application.ads"), ads_path %></h3>
              	    <i class="icons-ads"></i>
                </div>
            </div>    
        </div>
    </div>    
    <div class="span6">
        <div class="row-fluid">
            <div class="span6 mobile-two">
              	<div class="tile">
              	  	<h3><%= link_to t("layouts.application.asta"), asta_path %></h3>
              	</div>
            </div>    
            <div class="span6 mobile-two">
              	<div class="tile">
              	  	<h3><%= link_to t("layouts.application.weather"), weather_path %></h3>
              	    <i class="icons-weather"></i>
              	</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 mobile-two">
              	<div class="tile">
              	  	<h3><%= link_to t("layouts.application.paul"), courses_path %></h3>
              	    <i class="icons-paul"></i>
              	</div>
            </div>    
            <div class="span6 mobile-two">
              	<div class="tile green">
              	  	<h3><%= link_to t("layouts.application.timetable"), timetable_path %></h3>
              	</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 mobile-two">
              	<div class="tile">
              	  	<h3><%= link_to t("layouts.application.party"), events_path %></h3>
              	</div>
            </div>    
            <div class="span6 mobile-two">
              	<div class="tile">
              	  	<h3><%= link_to t("layouts.application.pingo"), page_path(id: "pingo") %></h3>
              	    <i class="icons-pingo"></i>
              	</div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6 mobile-two">
              	<div class="tile">
              	  	<h3><%= link_to t("layouts.application.twitter"), twitter_path %></h3>
              	</div>
            </div>    
            <div class="span6 mobile-two">
            </div>
        </div>
    </div>
</div>

<% if ENV["ios_webapp_notice"] == "true" %>
	<% content_for :javascript do %>
	<script>
	if (window.navigator.userAgent.indexOf('iPhone') != -1 || window.navigator.userAgent.indexOf('iPad') != -1) { 
		if (window.navigator.standalone == false) {
			var addToHomeConfig = {
				returningVisitor: true
			};
			// load dynamically only for iPhones to reduce requests
			window.iUPB.loadjscssfile("/stylesheets/add2home.css", "css");
			window.iUPB.loadjscssfile("/scripts/add2home.js", "js");
		}
	}
	</script>
	<% end %>
<% end %>