<% content_for "page-attributes" do %>id="homePage"<% end %>


<% if Time.now < Time.local(2013, 10, 12) %><div id="ophase_welcome" class="alert alert-info alert-block">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<p class="center"><%= t(".ophase_teaser").html_safe %><br>
	<a href="#ophase-study-links" role="button" id="ophase_button_link" class="btn btn-info">&rarr; <%= t ".ophase_button" %></a>
	<span class="hide" id="choose_text" style="text-decoration:underline;"><br><%= t "pages.navigator.choose_study" %>:</span>
	</p>
	<ul id="ophase-study-links" class="hide nav nav-tabs nav-stacked">
		<li><a target="_blank" href="http://zsb.uni-paderborn.de/fileadmin/zsb/pdf/studienanfaenger/ZeitplanO-Phase2013_E-Technik.pdf">&#9656; <strong>Elektrotechnik</strong></a></li>
		<li><a href="http://fsmi.uni-paderborn.de/infos-fuer/studienanfaenger/o-phase/" target="_blank">&#9656; <strong>Mathe/Informatik</strong></a>
		</li>
		<li><a href="http://wiwi.uni-paderborn.de/studierende/studienstart/o-phase-bachelor/" target="_blank">&#9656; <strong>Wirtschaftswissenschaften und International Business Studies</strong> (Bachelor)</a></li>
		<li><a href="http://www.fsrwinfo.de/ophase/" target="_blank">&#9656; <strong>Wirtschaftsinformatik</strong></a><strong>
		</strong></li>
		<li><a href="http://www.fsmb-upb.de/news/programm-der-orientierungsphase-ws-2013-14-2013-10-04"  target="_blank">&#9656; <strong>Maschinenbau</strong></a>
		</li>
		<li><a href="http://www.uni-paderborn.de/institute-einrichtungen/plaz/berufs-studienwahl/angebote-fuer-studienanfaenger/start-ins-studium/" target="_blank">&#9656; <strong>Lehramtsstudierende</strong></a>
		</li>
		<li><a href="http://groups.uni-paderborn.de/hg-wing/wp-content/uploads/2013/08/Programm-O-Phase-20131.pdf" target="_blank">&#9656; <strong>Wirtschaftsingenieurwesen</strong> (mit Schwerpunkt Maschinenbau)</a></li>
		<li><a href="http://groups.uni-paderborn.de/hg-wing/wp-content/uploads/2013/09/Programm-O-Phase-20131.pdf" target="_blank">&#9656; <strong>Elektrotechnik, Computer Engineering, Wirtschaftsingenieurwesen mit Schwerpunkt Elektrotechnik und Lehramt für Berufskolleg Elektrotechnik</strong></a>
		</li>
		<li><a href="http://www.mewiupb.de/?page_id=609" target="_blank">&#9656; <strong> Medienwissenschaften</strong></a>
		</li>
		<li><a href="http://zsb.uni-paderborn.de/fileadmin/zsb/pdf/studienanfaenger/Zeitplan_O-Woche_13_14_MTD.pdf" target="_blank">&#9656; <strong>Mode-Textil-Design</strong> (2-Fach BA)</a>
		</li>
		<li><a href="http://zsb.uni-paderborn.de/fileadmin/zsb/pdf/studienanfaenger/O-Phase_Eur_Studien_13-14.pdf" target="_blank">&#9656; <strong>Europäische Studien</strong></a>
		</li>
		<li><a href="http://kw.uni-paderborn.de/fileadmin/kw/Servicestelle/Fachschaften/fspop/News/AblaufplanOphase2013_PMBAPMMA.pdf" target="_blank">&#9656; <strong>Populäre Musik und Medien</strong> (Bachelor u. Master)</a>
		</li>
		<li><a href="http://fsfb13.uni-paderborn.de/index.php?page=erstsemesterws" target="_blank">&#9656; <strong>Chemie</strong></a><strong>
		</strong><strong></strong>
		</li>
		<li><a href="http://zsb.uni-paderborn.de/fileadmin/zsb/pdf/studienanfaenger/Start_ins_StudiumWS2013_Physik.pdf" target="_blank">&#9656; <strong>Physik</strong></a>
		</li>
		<li><a target="_blank" href="http://zsb.uni-paderborn.de/fileadmin/zsb/pdf/studienanfaenger/O_Woche_Begruessung_FS_Sport.pdf">&#9656; <strong>Angewandte Sportwissenschaften</strong></a>
		</li>
		<li><a href="http://wiwi.uni-paderborn.de/studierende/studienstart/o-phase-master/" target="_blank">&#9656; <strong>Masterstudierende der Fakultät für Wirtschaftswissenschaften</strong></a>
		</li>
		<li><a href="http://ei.uni-paderborn.de/en/alt/startseite/english/education/orientation-phase-winter-2013-14.html" target="_blank">&#9656; <strong>Master Electrical Systems Engineering and other international students</strong></a>
		</li>
	</ul>
</div>
<% end %>

<div class="two-column dashboard-list">
	<div>
	<%= link_to '<i class="icons-restaurant round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.menu"), restaurants_path %>
	</div>
  	<div>
  	  	<%= link_to '<i class="icons-transportation round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.buses"), transportation_path %>
  	</div>
	<div>
	  <%= link_to '<i class="icons-paul round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.paul"), courses_path %>
	</div>
	<div>
	  <%= link_to '<i class="icons-party round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.party"), events_path %> 
  	</div>
	<div><%= link_to '<i class="icons-weather round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.weather"), weather_path %> 
	</div>
	<div>
	  <%= link_to '<i class="icons-twitter round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.twitter"), twitter_path %> 
	</div>
  	<div>
	  <%= link_to '<i class="icons-asta round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.asta"), asta_path %> 
  	</div>
  	<div>
	  	  <%= link_to '<i class="icons-timetable round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.timetable"), timetable_path %> 
	</div>
	<div>
	  	  <%= link_to '<i class="icons-ads round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.ads"), ads_path %> 
	</div>
	<div>
	  	  <%= link_to '<i class="icons-navigator round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.navigator"), page_path(id: "navigator") %> 
	</div>
	<div>
	  	  <%= link_to '<i class="icons-pingo round-corners dashboard-link "></i>'.html_safe + ' ' +  t("layouts.application.pingo"), page_path(id: "pingo") %> 
	</div>
	
</div>
<% if ENV["ios_webapp_notice"] == "true" %>
	<% content_for :javascript do %>
	<script>
	if (window.navigator.userAgent.indexOf('iPhone') != -1 || window.navigator.userAgent.indexOf('iPad') != -1) { 
		if (window.navigator.standalone == false) {
			var addToHomeConfig = {
				returningVisitor: true
			};
			// load dynamically only for iPhones to reduce requests
			window.iUPB.loadjscssfile("/stylesheets/add2home.css", "css");
			window.iUPB.loadjscssfile("/scripts/add2home.js", "js");
		}
	}
	</script>
	<% end %>
<% end %>

<% content_for :javascript do %>
<script>
  $(document).ready(function() {
	$("#ophase_button_link").click(function(e) {
		$("#ophase-study-links, #choose_text").toggle();
		e.preventDefault();
	});
  });
</script>
<% end %>