<%= content_for "page-attributes" do %>id="homePage"<% end %>
<% content_for :header do %>
<h1>iUPB</h1>
<% end %>
<div>
	<div>
<%= link_to t("layouts.application.menu"), restaurants_path %></div>
  	<div><%= link_to t("layouts.application.buses"), transportation_path %></div>
</div>

<div>
	<div><%= link_to t("layouts.application.paul"), courses_path  %></div>
	<div><%= link_to t("layouts.application.twitter"), twitter_path  %></div>
</div>


<div>
	<div><%= link_to t("layouts.application.weather"), weather_path  %></div>
	<div></div>
</div>
