<%= content_for "page-attributes" do %>id="homePage"<% end %>
<% content_for :header do %>
<h1>iUPB</h1>
<% end %>
<div class="ui-grid-a">
	<div class="ui-block-a">
<%= link_to t("layouts.application.menu"), restaurants_path, 'data-role' => 'button' %></div>
	<div class="ui-block-b"><%= link_to t("layouts.application.weather"), weather_path, 'data-role' => 'button' %></div>
</div>

<div class="ui-grid-a">
	<div class="ui-block-a"><%= link_to t("layouts.application.buses"), transportation_path, 'data-role' => 'button' %></div>
	<div class="ui-block-b"><%= link_to t("layouts.application.paul"), courses_path, 'data-role' => 'button' %></div>
</div>


<div class="ui-grid-a">
	<div class="ui-block-a"><%= link_to t("layouts.application.twitter"), twitter_path, 'data-role' => 'button' %></div>
	<div class="ui-block-b"></div>
</div>
<script>
$('#homePage').live( 'pageinit', function(event) {
	$("#home-button").hide();
});
</script>