<% content_for "page-attributes" do %>id="homePage"<% end %>
<div class="two-column dashboard-list">
	<div><%= link_to image_tag("icon_restaurant.png", :class => "round-corners")+ " " +t("layouts.application.menu"), restaurants_path %> 
	</div>
  	<div><%= link_to image_tag("icon_transportation.png", :class => "round-corners")+ " " +t("layouts.application.buses"), transportation_path %> 
  	</div>
	<div><%= link_to image_tag("icon_paul.png", :class => "round-corners")+ " " +t("layouts.application.paul"), courses_path  %> 
	</div>
	<div><%= link_to image_tag("icon_twitter.png", :class => "round-corners")+ " " +t("layouts.application.twitter"), twitter_path  %> 
	</div>
	<div><%= link_to image_tag("icon_weather.png", :class => "round-corners")+ " " +t("layouts.application.weather"), weather_path  %> 
	</div>
</div>
<script>
if (window.navigator.userAgent.indexOf('iPhone') != -1) { 
	if (window.navigator.standalone == false) {
		var addToHomeConfig = {
			returningVisitor: true
		};
		// load dynamically only for iPhones to reduce requests
		window.iUPB.loadjscssfile("/stylesheets/add2home.css", "css");
		window.iUPB.loadjscssfile("/scripts/add2home.js", "js");
	}
}
</script>