
<% content_for :header do %>
<h1><%= t ".buses_leaving "%></h1>
<% end %>
<ul data-role="listview">
	<% @trips.each do |trip| %>
		<li>
			<h3>
			<%= t '.trip_at', :station => trip["s"], :date => l(trip["da"], format: "%H:%M") %>
			</h3>
			<p><%= t ".line" %> <%= trip["l"] %>, <%= t ".to" %> <%= trip["d"] %>
			</p>
		</li>
	<% end %>
</ul>