
<div class="row">
	<div class="span6">
		<div class="hero-unit" style="padding:40px;">
			<h2><%= t "sign_in" %></h2>
				<p>
					<%= t "marketing.login_message" %>
				</p>
 <p class="login-button-bar">
 	<% unless Rails.env.production? %>
 		<%= link_to "<i class=\"foundicon-facebook\"></i>".html_safe, omniauth_authorize_path(resource_name, :facebook), class: "login-button" %> <%= link_to "<i class=\"foundicon-google-plus\"></i>".html_safe, omniauth_authorize_path(resource_name, :google_oauth2), class: "login-button" %>
 	<% else %>
 		<%= link_to "<i class=\"foundicon-facebook\"></i>".html_safe, "http://www.i-upb.de/users/auth/facebook", class: "login-button" %> <%= link_to "<i class=\"foundicon-google-plus\"></i>".html_safe, omniauth_authorize_path(resource_name, :google_oauth2), class: "login-button" %>
 	<% end %>
 </p>
				 
		</div>
	</div>
	<div class="span6">
		<div class="hero-unit hidden-phone">
		<h2><%= t "marketing.login_with_iupb" %></h2>
<%= form_for resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'new_session form-horizontal'} do |f| %><fieldset><div class="control-group"><%= f.email_field :email, :required => false, :autofocus => true, :placeholder => t("email") %></div><div class="control-group"><%= f.password_field :password, :required => false, :placeholder => t("password") %></div><% if devise_mapping.rememberable? -%><div class="control-group"><label for="user_remember_me", class="checkbox"><%= f.check_box :remember_me %><%= t "remember_me" %></label></div><% end -%></fieldset><div><%= f.submit t("login"), :class => 'btn btn-primary' %></div><% end %>
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      <strong><%= link_to t("here_you_can_sign_up"), new_registration_path(resource_name) %></strong><br />
    <% end -%>

    <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
      <%= link_to t("forgot_your_password"), new_password_path(resource_name) %><br />
    <% end -%></div></div>
<div class="visible-phone well">
<h2><%= t "marketing.login_with_iupb" %></h2>
<%= form_for resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'new_session form-horizontal'} do |f| %><fieldset><div class="control-group"><%= f.email_field :email, :required => false, :autofocus => true, :placeholder => t("email") %></div><div class="control-group"><%= f.password_field :password, :required => false, :placeholder => t("password") %></div><% if devise_mapping.rememberable? -%><div class="control-group"><label for="user_remember_me", class="checkbox"><%= f.check_box :remember_me %><%= t "remember_me" %></label></div><% end -%></fieldset><div><%= f.submit t("login"), :class => 'btn btn-primary' %></div><% end %>
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <strong><%= link_to t("here_you_can_sign_up"), new_registration_path(resource_name) %></strong><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to t("forgot_your_password"), new_password_path(resource_name) %><br />
<% end -%></div></div>
</div>