<%= content_for "page-attributes" do %>id="restaurantPage"<% end %>
<% content_for :header do %>
<h1><span id="day_title"><%= l(@today, format: '%a, %d. %b') %></span></h1>
	<% 
	#< %= link_to t(".prev_day"), restaurants_path, 'data-icon' => 'arrow-l', 'id' => "prev_day_button", 'data-iconpos' => 'notext', 'data-direction' => 'reverse' % >
	#< %= link_to t(".next_day"), restaurants_path, 'data-icon' => 'arrow-r', 'id' => "next_day_button", 'data-iconpos' => 'notext', 'data-direction' => 'reverse' % >
	%>
	<!-- TODO: <%= @restaurant.name %>  Hier kommt die Restaurant auswahl hin-->
<% end %>
<ul id="menus">
	<li><%= t "please_wait" %></li>
</ul>

<script>
window.iUPB.Restaurant.vars.today = new Date(<%= @today_js %>);
// #TODO: put the following code in the Restaurant class (Restaurant.initMenuView(Date day) or so)
$(document).ready(function() {
  window.iUPB.Restaurant.updateMenus(window.iUPB.Restaurant.vars.today);
  $('#restaurantPage').swipe({
     swipeLeft: function() { 
     	window.iUPB.Restaurant.vars.today = window.iUPB.Restaurant.loadNextDay(window.iUPB.Restaurant.vars.today); 
     },
     swipeRight: function() { 
     	window.iUPB.Restaurant.vars.today = window.iUPB.Restaurant.loadPrevDay(window.iUPB.Restaurant.vars.today);
     },
  })
  /*$("#restaurantPage").swiperight(function() { // swipe from right to left
  today = window.iUPB.Restaurant.loadPrevDay(today);
  });
  $("#restaurantPage").swipeleft(function() { // swipe from left to right
  today = window.iUPB.Restaurant.loadNextDay(today);
  });*/
  $(document).keydown(function(e){
    if (e.keyCode == 37) { // left key
      window.iUPB.Restaurant.vars.today = window.iUPB.Restaurant.loadPrevDay(window.iUPB.Restaurant.vars.today);
      return false;
    }
  });
  $(document).keydown(function(e){
    if (e.keyCode == 39) { // right key
      window.iUPB.Restaurant.vars.today = window.iUPB.Restaurant.loadNextDay(window.iUPB.Restaurant.vars.today);
      return false;
    }
  });
});
</script>
