
<% content_for :header do %>
<h1><%= @restaurant.name %> &ndash; <span id="day_title"><%= l(@today, format: "%a, %d. %b") %></span></h1>
<div data-role="controlgroup" class="ui-btn-left">
	<a id="prev_day_button" href="<%= restaurants_path %>" data-role="button" data-icon="arrow-l">&nbsp;</a>
</div>

<div data-role="controlgroup" class="ui-btn-right">
	<a id="next_day_button" href="<%= restaurants_path %>" data-role="button" data-icon="arrow-r">&nbsp;</a>
</div>
<% end %>

<ul id="menus" data-role="listview">
	<li><%= t "please_wait" %></li>
</ul>

<script>
var today = new Date(<%= @today_js %>);
jQuery(document).ready(function() {
	window.Restaurant.updateMenus();
	$("#prev_day_button").click(function(){
		today = new Date(today.getTime() - (24 * 60 * 60 * 1000));
		window.Restaurant.updateMenus(today.format("dd-mm-yyyy"));
		return false;
	});
	$("#next_day_button").click(function(){
		today = new Date(today.getTime() + (24 * 60 * 60 * 1000));
		window.Restaurant.updateMenus(today.format("dd-mm-yyyy"));
		return false;
	});
});
</script>
