
<div data-role="header">
	<h1><%= @restaurant.name %>, <%= Date::DAYNAMES[@today.wday] %></h1>
</div>	

<ul data-role="listview">
	<% @menus.each do |menu| %>
		<li>
			<h3><%= menu.name %>
			</h3>
			<p><i><%= menu.type %></i></p>
			<p><%= menu.description %></p>
			<% menu["side_dishes"].each do |beilage| %>
				<p><%= beilage[1] %></p>
			<% end%>
			<p><%= menu.price %></p>
			<p><%= menu.counter %></p>
		</li>
	<% end %>
</ul>

