<%  title t("layouts.application.40years") %>
<%= content_for "page-attributes" do %>id="40yrPage"<% end %>
<h1><%= link_to image_tag("logo_40jahre.png", :style => "max-width:200px;"), "http://40jahre.uni-paderborn.de", :target => "_blank", :confirm => "Offizielle 40 Jahres-Website öffnen?\n(40jahre.upb.de)" %></h1>
<br>
<ul class="nav nav-tabs">
  <li class="active"><a href="#programme" data-toggle="tab"><%= t ".programme" %></a></li>
  <li><a href="#facts" data-toggle="tab"><%= t ".facts" %></a></li>
  <li><a href="#more" data-toggle="tab"><%= t ".more" %></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="programme">

<div id="timetable">
<% @days.each_with_index do |col, index| %>
	<div class="forty-col box_round" data-tt-col-day="<%= col.to_s %>" id="col_<%= col.to_s %>">
		<div class="label"><h3 class="day_label"><% unless col == 0 %> <%= t ".day_"+index.to_s %><% end %>&nbsp;</h3></div> 
		
		<% @slots.each do |slot| %>
			<div data-tt-start-time="<%= slot[0].sub(":", "") %>" data-tt-end-time="<%= slot[1].sub(":", "") %>" data-tt-day="<%= col.to_s %>" class="slot truncate" style="height:<%= (slot[1].sub(":", "").to_i - slot[0].sub(":", "").to_i) / 3 %>px;">
			<% if col == 0 %>
				<span class="cell_label cell_label_first"><%= slot[0] %> - <%= slot[1] %></span>
			<% else %>
				<span class="cell_label cell_label_middle"><%= slot[0] %> - <%= slot[1] %> </span> 
				<span class="cell">&nbsp;</span>
			<% end %>
			</div>
		<% 	
		end %>
	</div>
<% end %>
</div>
<br style="clear:both;">
<br>
<p class="center"><a class="btn btn-small btn-info" href="<%= forty_years_export_path(format: "ics") %>"><i class="icon-download-alt icon-white"></i> <%= t ".download_ical" %></a></p>

<h3><%= t ".list" %></h3>
<ul class="no-bullets no-left-margin" id="events_overview">
	<% @events.each do |event| %>
		<li class="well single_event"><h6 id="<%= event.id %>"><%= event.name %></h6>
			<p><%= l event.start_time.utc, format: :short %>
			<% if event.end_time && event.end_time > event.start_time %>
			 - <%= l event.end_time.utc, format: :short %>
			<% end %>
			</p>
			<p class="expandeble">
				<%= event.description %>
			</p>
			<% if event.link %>
				<p><%= link_to "&raquo; ".html_safe + t(".details"), event.link %>
			<% end %>
		</li>
	<% end %>
</ul>

<p class="center"><a class="btn btn-small btn-info" href="<%= forty_years_export_path(format: "ics") %>"><i class="icon-download-alt icon-white"></i> <%= t ".download_ical" %></a></p>
  </div>
  



  <div class="tab-pane" id="facts">

  	<div id="factCarousel" class="carousel slide visible-phone" data-interval="false">
	  <!-- Carousel items -->
	  <div class="carousel-inner">
	  	<% @facts.each do |fact| %>
	  		<div class="item <%= (fact.id == 1 ? "active" : "") %>">
	  			<div class="well">
		  			<h1><%= fact.id.to_s %></h1>
		  			<blockquote>
					  <p><%= fact.text %></p>
					</blockquote>
				</div>
			</div>

	  	<% end %>
	    
	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#factCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#factCarousel" data-slide="next">&rsaquo;</a>
	</div>
	
	<div id="factList" class="hidden-phone">
	  <ul class="no-bullets">
	  	<% @facts.each do |fact| %>
	  	 <li class="well">
	  		<p class="fact_no badge badge-info"><%= fact.id %></p>
	  		<p class="fact_text"><%= fact.text %></p>
	  	  </li>
	  	<% end %>
	  </ul>
  	</div>
  </div>

  <div class="tab-pane" id="more">
  	<p class="well center"><%= t ".find_more" %>:<br> <%= link_to "40jahre.upb.de" ,"http://40jahre.uni-paderborn.de", :target => "_blank", :class => "btn" %></p>
  </div>
</div>

<p class="source-info">
		<%= t "source" %>: <a target="_blank" href="http://40jahre.uni-paderborn.de">Uni Paderborn</a>.
	</p>

<script>
$(document).ready(function() {
	$('blockquote').swipe({
	 swipeLeft: function() {
	 		$('#factCarousel').carousel('next');
	 	},
	 swipeRight: function() {
	 		$('#factCarousel').carousel('prev');
	 	},
	 });
	window.iUPB.FortyYears.populateTimetable($("#timetable"));
	$(".expandeble").expander({
		expandText: '<%= t ".read_more" %>',
		userCollapseText: '<%= t ".read_less" %>',
		expandPrefix: '&hellip; ',
		expandEffect: 'fadeIn',
		expandSpeed: 250,
		collapseEffect: 'fadeOut',
		collapseSpeed: 200
	});
});
</script>