<% title t("layouts.application.paul") %>
<%= content_for "page-attributes" do %>id="paulPage"<% end %>
<% content_for :header do %>
<h1 id="paul_heading"><%= t ".Paul"%></h1>
<% end %>
<span id="paul_search_label" style="display:none;font-weight:bold;"><%= t ".search"%>: </span><input type="search" name="search" autocomplete="off" id="paul_search_field" placeholder="<%= t '.search' %>..." value="" />
<script>
$(document).ready(function(event) {
  //TODO: port this to coffee script :)
  
  var search_field = $("#paul_search_field");
  var result_list = $("#courses_result_list");
  search_field.bind( "change", function(event, ui) {
    if(search_field.val().length == 0)
      result_list.empty();
  });
  var search_timer = null;
  search_field.keyup(function() {
    if (search_timer)
      clearTimeout(search_timer);
    if(search_field.val().length == 0)
      result_list.empty();
    if(search_field.val().length < 3)
      return;
    search_timer = setTimeout(function() 
    {
      if(!$('#paul_heading').is(":hidden")){
        $('#paul_heading').hide();
        $('#paul_search_label').show();
      }
      $.getJSON('<%= course_search_path({:query => ""}) %>' + encodeURIComponent(search_field.val()), function(data)
      {
        result_list.empty();
        if(data.length == 0)
        {
          result_list.append($('<li><h3><%= t '.no_results' %></h3></li>'));
        }
        $.each(data, function() { 
          var li = $('<li class="well" style="white-space: normal;">');
          var link = $('<a data-icon="arrow-r">');
          link.append($('<h4 style="white-space: normal;">' + this.course.title + '</h3>'));
          var id = this.course.id;
          link.attr('href', '<%= course_path({:id => ""}) %>' + encodeURIComponent(id));
          var next_class = this.course.next_class;
          li.append(link);
          if(next_class)
          {
            var infos = $('<h5>');
            var dateText = I18n.l("date.formats.short", next_class.time_from);
            var time_from = new Date(Date.parse(next_class.time_from));
            var time_to = new Date(Date.parse(next_class.time_to));
            var today = new Date();
            var tomorrow = new Date();
            tomorrow.setDate(today.getDate() + 1);
            var interval =  (time_from - today) / 1000 / 60 / 60;
            var class_today = today.getYear() == time_from.getYear() && today.getMonth() == time_from.getMonth() && today.getDay() == time_from.getDay();
            var class_tomorrow = tomorrow.getYear() == time_from.getYear() && tomorrow.getMonth() == time_from.getMonth() && tomorrow.getDay() == time_from.getDay();
            
            if(interval < 24 && class_today)
              dateText = I18n.t("courses.today");
            else if(interval < 48 && class_tomorrow)
              dateText = I18n.t("courses.tomorrow");
            var text = I18n.t("courses.next_class", {
              date: dateText,
              time_from: I18n.l("time.formats.very_short", time_from), 
              time_to: I18n.l("time.formats.very_short", time_to),
              place: next_class.room
            });
            infos.text(text);
            li.append(infos);
          }
          result_list.append(li);
        });
      }); 
    }, 
    500);
  });
});
</script>
<ul id="courses_result_list" class="no-bullets no-left-margin">
  <li><h3><%= t '.type_and_find' %></h3></li>
</ul>
<p class="source-info">
	<%= t('.data') %>: <a target="_blank" href="https://paul.uni-paderborn.de">paul.upb.de</a>.
</p>


