
<% content_for :header do %>
<h1><%= @course.course_type == 'course' ? @course.title : @course.group_title %></h1>
<!--<%= link_to t('nav.back'), courses_path %>-->
<a data-role="button" data-rel="back"><%= t 'nav.back' %></a>
<% end %>
<div data-role="collapsible">
<h2><%= t 'Zeiten und Räume' %></h2>
<ul data-role="listview" id="infos">
  <% @course.course_data.each do |data| %>
    <% if data["date"] >= DateTime.now %>
      <li>
        <p>
        <strong><%= l(data["date"], format: "%a, %d. %b") %> <%= t 'from' %> <%= l(data["time_from"], format: "%H:%M") %> <%= t 'to' %> <%= l(data["time_to"], format: "%H:%M") %> <%= t 'at' %> <%= data["room"] %></strong></p>
        <p><%= data["instructor"] %></p></li>
    <% end %>
  <% end %>
</ul>  
</div>
<div data-role="collapsible">
<% if @groups and @groups.length > 0 %>
<h2><%= t 'Übungsgruppen' %><h2>
<ul data-role="listview" id="groups">
  <% @groups.each do |group| %>
    <li><%= link_to  group.group_title, group %>
    </li>
  <% end %>
</ul>
<% end %>
</div>

<a href="<%= @course.paul_url %>" data-role="button" target="_blank"><%= t 'view_in_paul'%></a>