<% offset = 2 %>
<% # this offset is ugly but atm necessary because JS and Ruby get confused with timezones 
%>
<% title(@course.course_type == 'course' ? @course.title : @course.group_title)%>
<h2><%= link_to '<i class="icon-arrow-left"></i>'.html_safe, courses_path, id: "back-button"  %><br /><%= @course.course_type == 'course' ? @course.title : @course.group_title %> </h2>

<% if @course.course_data.length > 0 || @groups && @groups.length > 0  %>
<div class="accordion" id="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <h3><%= t '.dates_and_rooms' %></h3>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul id="infos" class="nav nav-tabs nav-stacked">
          <% @course.get_dates.each do |data| %>
          <li>
            <h4 style="white-space: normal;">
              <%= t('.time_place', {date: l(data[0].to_date, format: :short), time_from: l(data[0] + offset.hours, format: :very_short), time_to: l(data[1] + offset.hours, format: :very_short), place: data[2] })%>
            </h4>
            <p><%= data[3] %></p>
          </li>
          <% end %>
        </ul>   
      </div>
    </div></div>
  <% if @groups and @groups.length > 0 %>
    <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        <h3><%= t '.tutorials' %></h3>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul id="groups" class="nav nav-tabs nav-stacked">
          <% @groups.each do |group| %>
          <li>
            <%= link_to group do  %>
            <h4 style="white-space: normal;"><%= group.group_title %></h4>
            <% if group['next_class'] %>
            <p><%= t('courses.next_class', {date: l(group.next_class[:time_from], format: :short), time_from: l(group.next_class[:time_from], format: :very_short), time_to: l(group.next_class[:time_to], format: :very_short), place: group.next_class[:room] })%>
            </p>

            <% end %>
            <% end %>
          </li>
          <% end %>
        </ul>  
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
<% if user_signed_in? %>
<p class="center">
  <% unless current_user.has_course?(@course) %>
<a class="btn btn-info" href="#addCourse" data-role="button" id="add_link"><%= t '.add_to_time_table' %></a>
  <% else %>
    <i class="icon-ok"></i> <%= t(".in_time_table") %>
  <% end %>
</p>
<% end %>

<p class="center">
<a class="btn btn-info" href="<%= @course.paul_url %>" data-role="button" target="_blank"><%= t '.view_in_paul' %></a>
</p>
<% content_for :jscript do %>
<script>
  jQuery("#add_link").click(function(e){
    e.preventDefault();
    current_link = $(this);
    $.post("<%= timetable_add_course_path %>", { id: encodeURIComponent("<%= @course.id %>") }, function(data) {
      current_link.prop("disabled", true);
      current_link.removeClass("btn-info");
      current_link.addClass("btn-success");
      current_link.html('<i class="icon-ok"></i> <%= t(".in_time_table") %>');
      current_link.unbind("click");
      current_link.click(function(e){
        e.preventDefault();
      });
      <% if Rails.env.production? %>
      if(_gaq) _gaq.push(['_trackEvent', 'Timetable', 'Course Added', 'Detail view']);
      <% end %>
    });
  });
</script>
<% end %>