
<h2><%= link_to '<i class="icon-arrow-left"></i>'.html_safe, courses_path, id: "back-button"  %><br /><%= @course.course_type == 'course' ? @course.title : @course.group_title %> </h2>
<script>
$(document).ready(function(){
  $("#back-button").click(function(e){
    e.preventDefault();
    return window.history.back();
  });
});
</script>

<% if @course.course_data.length > 0 || @groups && @groups.length > 0  %>
<div class="accordion" id="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
        <h3><%= t '.dates_and_rooms' %></h3>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul id="infos" class="nav nav-tabs nav-stacked">
          <% @course.course_data.each do |data| %>
          <li>

            <h4 style="white-space: normal;">
              <%= t('.time_place', {date: l(data["date"].to_date, format: :short), time_from: l(data["time_from"], format: :very_short), time_to: l(data["time_to"], format: :very_short), place: data["room"] })%>
            </h4>
            <p><%= data["instructor"] %></p>
          </li>
          <% end %>
        </ul>   
      </div>
    </div></div>
  <% if @groups and @groups.length > 0 %>
    <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
        <h3><%= t '.tutorials' %></h3>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul id="groups" class="nav nav-tabs nav-stacked">
          <% @groups.each do |group| %>
          <li>
            <%= link_to group do  %>
            <h4 style="white-space: normal;"><%= group.group_title %></h4>
            <% if group['next_class'] %>
            <p><%= t('courses.next_class', {date: l(group.next_class[:time_from], format: :short), time_from: l(group.next_class[:time_from], format: :very_short), time_to: l(group.next_class[:time_to], format: :very_short), place: group.next_class[:room] })%>
            </p>

            <% end %>
            <% end %>
          </li>
          <% end %>
        </ul>  
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>

<a class="btn btn-info" href="<%= @course.paul_url %>" data-role="button" target="_blank"><%= t '.view_in_paul'%></a>