<% title t("layouts.application.asta") %>
<%= content_for "page-attributes" do %>id="astaNewsPage"<% end %>
<% content_for :header do %>
<h1><%= t ".asta_news" %></h1>
<% end %>

<div id="asta-news-list">
<% @news_items.each do |item| %>
<div class="row-fluid">
<div class="well">
  <h4><%= item['title'] %></h4>
  <h6 class="asta-time"><%= time_ago_in_words item['date'] %> <%= t '.old' %></h6>
  <p><span class="asta-text"><%= item['description'] %></span><br>
  <a class="btn-small btn btn-info" target="_blank" href="<%= item['link'] %>"><%= t ".read_original" %></a></p>
</div>
</div>
<% end %>
</div>

<p class="source-info">
	Quelle: <a target="_blank" href="http://asta.uni-paderborn.de/">AStA Paderborn</a>.
</p>
