<%= content_for "page-attributes" do %>id="astaNewsPage"<% end %>
<% content_for :header do %>
<h1><%= t ".asta_news" %></h1>
<% end %>

<ul id="asta-news-list" class="no-bullets no-left-margin">
<li><%= t "please_wait" %></li>
<li class="well">
  <h3>Neues Zeug</h3>
  <div class="asta-meta">
  <span class="asta-time badge badge-info">2 hours ago</span> <%= t ".by" %>
  <span class="asta-author label label-info">Hans Wurst</span>
  </div>
  <div class="asta-text">Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem 
    Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem Lorem 
    Lorem Lorem Lorem Lorem Lorem Lorem Lorem ...</div>
  <a class="button button-info" href="#"><%= t ".read_original" %></a>
</li>
</ul>