<ul class="nav">
  <li><%= link_to t("layouts.application.menu"), restaurants_path %></li>
  <li><%= link_to t("layouts.application.buses"), transportation_path %></li>
  <li><%= link_to t("layouts.application.paul"), courses_path  %></li>
  <li><%= link_to t("layouts.application.party"), events_path  %></li>
  <li><%= link_to t("layouts.application.weather"), weather_path  %></li>
  <li><%= link_to t("layouts.application.twitter"), twitter_path  %></li>
  <li><%= link_to t("layouts.application.asta"), asta_path  %></li>
</ul>