<ul class="nav">
  <li><%= link_to t("layouts.application.menu"), restaurants_path %></li>
  <li><%= link_to t("layouts.application.buses"), transportation_path %></li>
  <li><%= link_to t("layouts.application.paul"), courses_path  %></li>
  <li><%= link_to t("layouts.application.party"), events_path  %></li>
  <li><%= link_to t("layouts.application.weather"), weather_path  %></li>
  <li><%= link_to t("layouts.application.twitter"), twitter_path  %></li>
  <li><%= link_to t("layouts.application.asta"), asta_path  %></li>
<% if Rails.env.development? %>  <li><%= link_to t("layouts.application.40years"), fortyyears_path, id: "top-40-link"  %></li> <% end %>
</ul>

<% if user_signed_in? %>
<ul class="nav pull-right">
  <li class="divider-vertical"></li>
  <li> <%= link_to( '<i class="icon-off"></i> '.html_safe + t("logout"), destroy_user_session_path, method: :delete) %></li>
</ul>
<% end %>