<!doctype html>
<!-- Conditional comment for mobile ie7 blogs.msdn.com/b/iemobile/ -->
<!--[if IEMobile 7 ]>    <html class="no-js iem7" lang="en"> <![endif]-->
<!--[if (gt IEMobile 7)|!(IEMobile)]><!--> <html class="no-js" lang="<%= I18n.locale || "en" %>" prefix="og: http://ogp.me/ns#"> <!--<![endif]-->
<%
#manifest="/application.manifest"
%>
<head>
  <title><%= content_for?(:title) ? content_for(:title) + " — " : "" %>iUPB <%= Rails.env.staging? ? "beta" : "" %></title>
  <meta charset="utf-8">
  <meta name="description" content="iUPB ist die WebApp mit allen wichtigen Infos rund um die Uni Paderborn, wie Mensaplan, Busverbindungen uvm. Für Studenten und Mitarbeiter!">

  <meta property="og:title" content="<%= content_for?(:title) ? content_for(:title) + " — " : "" %>iUPB">
  <meta property="og:url" content="<%= request.fullpath %>">
  <meta property="og:site_name" content="iUPB">
  <meta property="fb:app_id" content="<%= ENV["FB_ID"] %>">

  <% unless Rails.env.production? %>
    <meta name="robots" content="noindex,nofollow">
  <% end %>

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, maximum-scale=1" />

  <!-- iOS Device Startup Images -->
 	<!-- iPhone/iPod Touch Portrait – 320 x 460 (standard resolution) -->
 	<link rel="apple-touch-startup-image" href="/splash-screen-320x460.png" media="(device-width: 320px) and (device-height: 480px)" />

 	<!-- iPhone/iPod Touch Portrait – 640 x 920 pixels (high-resolution) -->
 	<link rel="apple-touch-startup-image" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2) and (device-height: 480px)" href="/splash-screen-640x920.png" />
 	
 	<!-- iPhone/iPod Touch Portrait – 640 x 1096 pixels (high-resolution) -->
 	<link rel="apple-touch-startup-image" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2) and (min-device-height: 548px)" href="/splash-screen-640x1096.png" />

 	<!-- iPad Portrait 768x1004 -->
 	<link rel="apple-touch-startup-image" media="(min-device-width: 768px) and (orientation: portrait)" href="/splash-screen-768x1004.png" />

 	<!-- iPad Landscape 1024x748 -->
 	<link rel="apple-touch-startup-image" media="(min-device-width: 768px) and (orientation: landscape)" href="/splash-screen-1024x748.png" />
 	
 	<!-- iPad Landscape Retina 2048x1496 -->
   <link rel="apple-touch-startup-image" href="/splash-screen-2048x1496.png" media="(device-width: 768px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)" /> 
   
  <!-- iPad Portrait Retina 1536x2008 -->
  <link rel="apple-touch-startup-image" href="/splash-screen-1536x2008.png" media="(device-width: 768px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)" />
  
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon.png">
  <!-- <link rel="shortcut icon" href="img/l/apple-touch-icon.png"> -->
  
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="image_src" href="http://www.i-upb.de/apple-touch-icon-114.png">

  <meta http-equiv="cleartype" content="on">
  <%= csrf_meta_tags %>
  <%= yield(:head) -%>
</head>
<body>
  <header class="navbar navbar-fixed-top">
    <span id="spinner"></span>
    <nav class="navbar-inner">
      <div id="header-container" class="container">
        <span id="forty-year-fact-container" class="badge badge-info pull-right"></span>
        <a id="menu_collapse_link" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <%= link_to "iUPB" + (Rails.env.staging? ? " beta" : ""), root_path, :class => 'brand', :id => 'home-button', :title => t(".home") %>
        <div class="nav-collapse">
          <%= render 'layouts/navigation' %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </header>
  <div class="container" <%= yield("page-attributes") %>>
    <div>
      <%= yield(:header) -%>
    </div>  

    <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :class => "alert", :id => "flash_#{name}" if msg.is_a?(String) %>
    <%- end -%>
    <div id="offline"><%= t "you_are_offline" %></div>
    <%= yield %>
	
    <footer class="footer">
      Powered by <%= link_to "yippie.io", "http://www.yippie.io" %> and made with <i class="icon-love icon-heart"></i><br>
	  <%= link_to t("imprint"), "http://www.yippie.io/imprint" %>
    </footer>
    <!--/footer-->
  </div> <!--! end of #container -->

  <%= javascript_include_tag "application" %>
  <script>
      I18n.defaultLocale = "<%= I18n.default_locale %>";
      I18n.locale = "<%= I18n.locale %>";
      $(document).ready(function() {
          window.iUPB.enableLoadingIndicator();
          window.iUPB.FortyYears.displayRandomFact();
      });
  </script>
  <%= yield(:javascript) -%>
  <% if Rails.env.production? %>
  <script>
      // detect iOS WebApp Mod
      var _webAppMode;
      if (window.navigator.userAgent.indexOf('iPhone') != -1 || window.navigator.userAgent.indexOf('iPad') != -1) {
          if (window.navigator.standalone) {
              _webAppMode = "iOS: WebApp";
          } else {
              var is_uiwebview = /(iPhone|iPod|iPad).*AppleWebKit(?!.*Safari)/i.test(window.navigator.userAgent);
              if(is_uiwebview) {
                  _webAppMode = "iOS: NativeApp";
              } else {
                  _webAppMode = "iOS: no WebApp";
              }
          }
      } else if (window.navigator.userAgent.indexOf('iUPBAndroidNativeApp') != -1) {
          _webAppMode = "Android: NativeApp";
      } else {
          _webAppMode = "unknown";
      }
      var _gaq=[["_setAccount","<%= IUPB::GOOGLE_ANALYTICS_ACCOUNT %>"],
          ['_setCustomVar', 1, 'Web App Mode', _webAppMode, 2],
          ["_trackPageview"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
          g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
          s.parentNode.insertBefore(g,s)}(document,"script"));

    </script>
    <% end %>
  </body>
  </html>